<% content_for :title, "Unsubscribe" %>
<div class="container">
	<div class="errors">
		<% if @user %>
		<p id="error_message">You've been unsubscribed.</p>
		<% else %>
		<p id="error_message">Wah, wah. Sorry, that code doesn't exist</p>
		<% end %>
	</div>
</div>