<% content_for :title, "Validated" %>
<div class="container top-padding-medium">
	<div class="row">
		<div class="col-md-12">
			<% if @user %>
				<div class="alert alert-info" role="alert">Thanks, you're all validated and looking fly.</div>
			<% else %>
				<div class="alert alert-danger" role="alert">Wah, wah. Sorry, that code doesn't exist</div>
			<% end %>
		</div>
	</div>
</div>
