<div class="container">
	<div class="errors">
		<% if @user %>
		<p id="error_message">Thanks, you're all validated and looking fly.</p>
		<% else %>
		<p id="error_message">Wah, wah. Sorry, that code doesn't exist</p>
		<% end %>
	</div>
</div>