<!DOCTYPE html>
<html>
<head>
  <title>Gitly &bull; Daily emails of trending open source projects on GitHub for your favourite languages</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <script type="text/javascript" src="//use.typekit.net/cnm6ivo.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  <%= csrf_meta_tags %>

  <meta name="author" content="Brian Kenny">
    <meta name="description" content="Daily emails of what projects are trending on GitHub for the languages you're interested in.">
    <meta name="keywords" content="GitHub trending, GitHub trending by language, Open Source trending projects, GitHub trending languages, GitHub trending by language">
</head>
<body>

<%= yield %>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '52e917bbde2e264d7e001785');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

</body>
</html>
